.page {
  height: 100vh;
  /*弹性布局居中*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*渐变背景*/
  background: linear-gradient(50deg, #bae7ff, #1890ff);
  /*溢出影藏*/
  overflow: hidden;
}

.container {
  /*相对定位*/
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  /*垂直配列*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  /*阴影*/
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

  .tit {
    font-size: 26px;
    margin: 65px auto 70px auto;
  }

  :global {
    .ant-btn {
      height: 40px;
      border: none;
      color: #fff;
      letter-spacing: 8px;
    }
  }
}
