.salesRank {
  padding: 0 24px 24px;

  .rankingTitle {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
  }

  .rankingList {
    margin: 25px 0 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      margin-top: 16px;

      span {
        color: rgba(0, 0, 0, .85);
        font-size: 14px;
        line-height: 22px;
      }

      .rankingItemNumber {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 1.5px;
        margin-right: 16px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        background-color: #fafafa;
        border-radius: 20px;

        &.active {
          color: #fff;
          background-color: #314659;
        }
      }

      .rankingItemTitle {
        flex: 1 1;
        margin-right: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}