.icon {
  font-size: 48px;
  line-height: 48px;
  border-radius: 2px;
}
.taobao {
  display: block;
  color: #ff4000 !important;
}
.wechat {
  color: green !important;
}
.alipay, .dingding {
  color: #2eabff !important;
}
