@import '~@/style/var.scss';
.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .nameBox {
    padding-top: 10px;
    text-align: center;
    .name {
      font-weight: 700;
    }
    .role {
      padding-top: 10px;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .avatar {
    position: absolute;
    top: -70px;
    left: 0;
    background: #fff;
  }
  :global {
    .ant-avatar {
      box-shadow: $avatar-shadow;
    }
  }
}
.info {
  .skills {
  }
}
