@import '@/style/var.scss';
.baseView {
  display: flex;
  .left {
    min-width: 224px;
    max-width: 448px;
  }
  .right {
    flex: 1 1;
    padding-left: 50px;
    .avatar_title {
      height: 22px;
      margin-bottom: 8px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      line-height: 22px;
    }
    .button_view {
      margin-top: 16px;
      width: 144px;
      text-align: center;
    }
    :global {
      .ant-avatar {
        box-shadow: $avatar-shadow;
      }
    }
  }
}
